@{
    ViewBag.Title = "About";
}
<style>
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

</style>

@*<div class="header-image__bg slick-slide slick-active" src="~/Content/EventBookAbout.jpg"; height: 200px; width: 420px; position: relative; left: 0px; top: 0px; z-index: 900; opacity: 1;" data-slick-index="0" aria-hidden="false"></div>*@
<div class="container">
    <div class="bg-purple">
    <img class="img-responsive center-block" src="~/Content/EventBookAbout.jpg" style="width:1260px;height:360px"></div>

    <div class="centered" style="padding-bottom:20%"><h3><b style="color:gold">Turn your Event into a Blissful Experience!</b><br /></h3> <h3><b style="color:orangered">Real people. Real events. Real memories</b></h3><h3><b style="color:crimson">We Make Your Dream Event Come True</b></h3></div>

</div>

<br/>
<br/>
<p style="font-size:18px;font-family:'Times New Roman', Times, serif">
                        Now a days, a lot of things we miss out because we are unaware about it and got enough busy in our lives. Don’t worry! We got you covered.

    From crazy music festivals that feature everything from EDM to Extreme Death Metal, to comedy nights hosted by sharp-tongued stand-ups, and more, EventBook got you covered when you ask yourself the question, “What should I do that’s awesome?”.

    We send you alerts based on your interest about a particular event and keep you hooked about that event so that you may not miss the whole lot of fun!

    Hurray! You can also create your own events and call out people for your amazing event.
</p>
