
<h2 style="font-family:'Comic Sans MS'">Comedy</h2>

<link href="~/Content/cards.css" rel="stylesheet" />
@*<div class="img-circle" id="di">
        <img id="image" src="" style="width:50%; height:100px">

    </div>*@
<div class="index-content imgContain" id="x">
    <div class="container" id="y">
        <div class="row" id="comedy">
        </div>
    </div>
</div>
<div id="event">

</div>
<div class="card-list-wrapper card-grid time-wrapper " data-reactid="370" style="margin-bottom:50px;" id="comedy">
    <div data-reactid="371">
        <ul class="card-list " data-reactid="372" id="cards"></ul>
    </div>
</div>


