
@{
    ViewBag.Title = "Demo";
}
<link rel="stylesheet" href="https://insider.in/dist/site-0728171c1e6b3022383c6c97cc98b286.css">

<div class="card-list-wrapper card-grid time-wrapper" data-reactid="370" style="margin-bottom:50px;">
    <div data-reactid="371">
        <ul class="card-list " data-reactid="372">
            <li class="card-list-item" data-reactid="373">
                <div class="event-card " data-reactid="374">
                    <a class="" href="/thursday-live-leela-fireworks-oct26-2017/event" data-reactid="375">
                        <div class="event-card-image " data-reactid="376">
                            <figure class="" data-reactid="377">
                                <img src="https://res.cloudinary.com/dwzmsvp7f/image/fetch/q_85,f_auto,w_400/https%3A%2F%2Fmedia.insider.in%2Fimage%2Fupload%2Fc_crop%2Cg_custom%2Fv1507547037%2Fg4gw8ngvlpjvslyp4px5.jpg" alt="Leela Fireworks - Thursday Live!" srcset="" data-reactid="378" />
                            </figure>
                            <span class="card-genre" style="background-color:#7b2346;" data-reactid="380">Music</span>
                            @*<div class="event-card-action" data-reactid="381">
                                <span class="event-card-button" data-reactid="382">BUY</span>
                            </div>*@
                        </div>
                        <div class="event-card-details " data-reactid="384">
                            <div class="event-card-name" data-reactid="385">
                                <span class="event-card-name-string " data-reactid="386">Leela Fireworks - Thursday Live!</span>
                            </div>
                            <span class="event-card-date " data-reactid="387">October 26 | 8:30PM</span>
                            <span class="event-card-venue " data-reactid="388">Hard Rock Cafe, Hyderabad</span>
                            <span class="event-card-price  " data-reactid="389">100 (Entry) + Rs. 500 (Cover)</span>
                        </div>
                    </a>
                </div>
            </li>
            <li class="card-list-item" data-reactid="373">
                <div class="event-card " data-reactid="374">
                    <a class="" href="/thursday-live-leela-fireworks-oct26-2017/event" data-reactid="375">
                        <div class="event-card-image " data-reactid="376">
                            <figure class="" data-reactid="377">
                                <img src="https://res.cloudinary.com/dwzmsvp7f/image/fetch/q_85,f_auto,w_400/https%3A%2F%2Fmedia.insider.in%2Fimage%2Fupload%2Fc_crop%2Cg_custom%2Fv1507547037%2Fg4gw8ngvlpjvslyp4px5.jpg" alt="Leela Fireworks - Thursday Live!" srcset="" data-reactid="378" />
                            </figure>
                            <span class="card-genre" style="background-color:#7b2346;" data-reactid="380">Music</span>
                            @*<div class="event-card-action" data-reactid="381">
                            <span class="event-card-button" data-reactid="382">BUY</span>
                        </div>*@
                        </div>
                        <div class="event-card-details " data-reactid="384">
                            <div class="event-card-name" data-reactid="385">
                                <span class="event-card-name-string " data-reactid="386">Leela Fireworks - Thursday Live!</span>
                            </div>
                            <span class="event-card-date " data-reactid="387">October 26 | 8:30PM</span>
                            <span class="event-card-venue " data-reactid="388">Hard Rock Cafe, Hyderabad</span>
                            <span class="event-card-price  " data-reactid="389">100 (Entry) + Rs. 500 (Cover)</span>
                        </div>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>

