
<h2 style="font-family:'Comic Sans MS'">Movies</h2>

<link href="~/Content/cards.css" rel="stylesheet" />
@*<div class="img-circle" id="di">
        <img id="image" src="" style="width:50%; height:100px">

    </div>*@
<div class="index-content imgContain" id="x">
    <div class="container" id="y">
        <div class="row" id="movies">
        </div>
    </div>
</div>
<div id="event">

</div>

