
<h2 style="font-family:'Comic Sans MS'">Music</h2>
<link href="~/Content/cards.css" rel="stylesheet" />

<div class="index-content imgContain" id="x">
    <div class="container" id="y">
        <div class="row" id="music">
        </div>
    </div>
</div>
<div id="event">

</div>
<div class="card-list-wrapper card-grid time-wrapper " data-reactid="370" style="margin-bottom:50px;" id="music">
    <div data-reactid="371">
        <ul class="card-list " data-reactid="372" id="cards"></ul>
    </div>
</div>

